* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0px;
}

.block {
  font-size: 50px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.name {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.header-content {
  max-width: 100%;
  text-align: center;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.header-buttons button {
  padding: 10px 20px;
  background-color: #bb8a0a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #aa7909;
}

/* Media Queries for responsiveness */


@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-content {
    max-width: 50%;
    text-align: left;
  }

  .header-buttons {
    flex-direction: row;
    gap: 20px;
    width: auto;
    align-items: center;
  }

  .header-buttons button {
    padding: 5px 10px;
  }

  
}

@media (min-width: 1024px) {
  .name {
    font-size: 40px;
  }

  .header-buttons button {
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  .name {
    font-size: 25px;
  }

  .header-buttons {
    gap: 5px;
  }

  .header-buttons button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 559px) {
  .block{
    font-size: 25px;
  }

  .name {
    font-size: 20px;
  }

  .header-content {
    padding: 10px;
  }

  .header-buttons button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media (max-width: 317px) {
  .block{
    font-size: 17px;
  }

  .name {
    font-size: 20px;
  }

  .header-content {
    padding: 10px;
  }

  .header-buttons button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

