.property-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.property-image {
  width: 50%;
  border-radius: 4px;
}

.details {
  flex: 1;
}

.prop {
  display: flex;
  flex-wrap: wrap;
}

.prop > div {
  flex: 50%;
  margin-bottom: 15px;
}

.det-p {
  color: #6f6f6f;
  margin-bottom: 12px;
}

.details h3 {
  color: #bbb7b7;
}

.details h2 {
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
}

.details ul {
  list-style: none;
  padding: 0;
}

.details ul li {
  margin-bottom: 5px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .property-details {
    flex-direction: column;
    align-items: center;
  }

  .property-image {
    width: 100%;
  }

  .prop > div {
    flex: 50%;
    margin-bottom: 10px;
  }

  .details h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .property-details {
    padding: 10px;
  }

  .details h2 {
    font-size: 16px;
  }

  .details h3 {
    font-size: 14px;
  }

  .det-p {
    font-size: 14px;
  }

  .prop > div {
    flex: 50%;
    margin-bottom: 8px;
  }
}
@media (max-width: 341px) {
  .property-details {
    padding: 10px;
  }

  .details h2 {
    font-size: 16px;
  }

  .details h3 {
    font-size: 14px;
  }

  .det-p {
    font-size: 14px;
  }

  .prop > div {
    flex: 1 1 100%;
    margin-bottom: 8px;
  }
}
