.carousel {
  /* padding: 5rem; */
  background-color: black 0;
  /* display: flex; */
  left: 1px;
  left: 10px;
  color: white;
  margin-top: 40px;
  padding-bottom: 20px;
}

.box {
  height: 300px;
}

.box h3 {
  text-align: center;
}

.box img {
  width: 100%;
  height: 300px;
}

.slick-slide div {
  margin: 0 0.3rem;
}

.slick-dots li.slick-active button:before {
  color:#787a91 !important;
}

.slick-dots li button:before {
  color: rgb(134, 130, 130) !important;
  font-size: 1rem !important;
  top: 2rem !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 24px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
}
