/* SubmitProperty.css */
.submit-property {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block{
  font-size: 40px;
}

form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 220px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-btn{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #bb8a0a; /* Change to blue */
  /* color: white; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn{
  background-color: #bb8a0a;
  width: 100%;
}

.submit-btn:hover {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #aa7909; /* Change to blue */
  /* color: white; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Responsive adjustments */
@media (min-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .submit-property {
    padding: 10px;
  }

  form h2 {
    font-size: 20px;
  }
}

@media (max-width: 559px) {
  .block{
    font-size: 25px;
  }

  .form-row {
    flex-direction: column;
  }

  .submit-property {
    padding: 10px;
  }

  form h2 {
    font-size: 20px;
  }
}

@media (max-width: 317px) {

  .block{
    font-size: 17px;
  }

  .form-row {
    flex-direction: column;
  }

  .submit-property {
    padding: 10px;
  }

  form h2 {
    font-size: 20px;
  }
}
